@import "tailwindcss";

:root {
  --bg-dark: #1b2431;
  --bg-light: #f5f6fa;
  --box-dark: #273142;
  --box-light: #fff;
  --text-dark: #202224;
  --text-light: #fff;
}

@theme {
  --color-main-primary: #4880ff;
  --color-main-orange: #ff9500;
  --color-main-red: #f93c65;
  --color-main-yellow: #ffa756;
  --color-main-green: #00b69b;
  --color-main-violet: #d456fd;
  --color-main-purple: #6226ef;
  --color-main-background: var(--bg-dark);
  --color-main-box: var(--box-dark);
  --color-main-text: var(--text-light);
  --font-main: "source-sans";
}

* {
  transition: background 200ms ease-in-out 50ms;
  transition: color 200ms ease-in-out 50ms;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-main-primary);
    border-radius: 1rem;
  }
}

@font-face {
  font-family: "source-sans";
  src: url("/font/SourceSans3-VariableFont_wght.ttf");
}
